use flake
# see https://direnv.net/ to activate these environment vars upon entering the dir and deactivating when leaving it
export GOSUMDB=sum.golang.org
export GOPRIVATE=gopkg.volterra.us
# Lock version of Go cryptographic module (used for FIPS compliance in go > 1.24)
# export GOFIPS140=v1.0.0 # not needed locally, it's set in Dockerfile so all builds done with go-builder will have it enabled
# note: need to keep the following up-to-date with the version of go in go-builder
export GOTOOLCHAIN=go1.26.3

# If executed by direnv (i.e. not in a subshell), source .envrc.local if it exists.
# Will not be executed when this file is sourced by install-go-tools.sh (directly or via docker build)
if command -v source_env >/dev/null 2>&1 && [ -f .envrc.local ]; then
  source_env .envrc.local
fi
