apiVersion: v1
kind: Service
metadata:
  name: bifrost
  labels:
    app.kubernetes.io/name: bifrost
    app.kubernetes.io/component: server
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: bifrost
    app.kubernetes.io/component: server
  ports:
    - name: http
      port: 8080
      targetPort: http
